/* Class 2 */

/* All comments in CSS are between these two symbols */

/* Every CSS "styling" must first get the specific HTML tag we want and then apply a PROPERTY to it with a specific VALUE */

/* Example
    html-element {
        property: value;
        property2: value2;
    }
*/

p {
	background-color: red;
    color: green; /* text colour */
	text-align: center;
}

table, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

ul {
	list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul li {
    color: blue;
	font-weight: bold;
}

a {
	text-decoration: none;
}

img {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    display: block;
    margin: auto;
}

/* 
Apply the following stylings to the ordered list (ol) tag:

    - A list-style-type of circle
    - Border width of 1px
    - Border style of dashed 

Apply the following stylings to list items (li) in the ordered list (ol):
    - Text colour of orange
*/
/* ol {
    list-style-type: circle;
    border-width: 1px;
    border-style: dashed;
}

ol li {
    color: orange;
} */

ol {
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    color: blue;
}


/* Flexbox and Grids */
/* Flex: 1D */
/* Grid: 2D */
body {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.workplace {
    color: green;
}

#my-name {
    color: red;
}